<script language="JavaScript">
    document.onmousedown=function(){return true}
</script>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
      <h2><%= pluralize(@order.errors.count, "error") %> не позволили оформить заказ:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label :name, "* ФИО:" %>
    <%= f.text_field :name, cols: 55 %>
  </div>
  <div class="field">
    <%= f.label :email, "* Email:" %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "* Контактный телефон (не забудте указать код страны):" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address,"* Страна/Город/Регион/Область(населенный пункт):" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :details, "Укажите отделение почты Росии:" %>
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :comment, "Комментарий:" %>
    <%= f.text_area :comment, rows: 4 %><br/>
    * - Поля обезательные для заполнения
  </div>
  <div class="field">
    <%= f.submit 'Готово', class: "btn btn-large btn-primary", id: 'submit-new-order', data: { disable_with: 'Обрабатываеться...' } %>
  </div>
<% end %>
