<!DOCTYPE html>
<html>
<head>
  <title>Оформлен новый заказ</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
  <h3>На сайте был оформлен заказ:</h3>

  <h3>Номер заказа: <%= @order.id %></h3>

  <div style="font-weight: bold">Данные о клиенте:</div>
  <div>ФИО клиента: <%= @order.name %></div>
  <div>Телефон: <%= @order.phone %></div>
  <div>Email: <%= @order.email %></div>
  <div>Адрес доставки: <%= @order.address %></div>
  <div>Номер склада новой почты: <%= @order.details.empty? ? "Не указано" : @order.details %></div>
  <p>Коментарий клиента: <div><%= @order.comment %></div></p>

  <table id="order_show">
    <tr>
      <th>Наименование</th>
      <th>Количество</th>
      <th>Цена в рублях</th>
    </tr>
    <% @order.cart_products.each do |item| %>

        <tr>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.total_price('RUB'), unit: "RUB", format: "%n %u") %></td>
        </tr>

    <% end %>

    <tr class="total_line">
      <td colspan="2">Total:</td>
      <td class="total_price">
        <%= number_to_currency(@order.cart_products.map{|item| item.total_price('RUB')}.sum, unit: "RUB", format: "%n %u") %>
      </td>
    </tr>
  </table>

  <h5>Вы можете перейти по ссылке:</h5>
  <%= @url %>
</body>

</html>