<%= form_for(@delivery_detail) do |f| %>
  <% if @delivery_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_detail.errors.count, "error") %> prohibited this delivery_detail from being saved:</h2>

      <ul>
      <% @delivery_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery, "Оплата и доставка" %><br />
    <%= f.cktext_area :delivery, style: "width: 720px" %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить изменения", class: "btn btn-primary" %>
  </div>
<% end %>
