%h1 Редактирование страницы #{@delivery_details.title}

= form_for @delivery_details, url: {action: 'update'} do |f|
  - if @delivery_details.errors.any?
    #error_explanation
      %h2 При заполнении формы возникли ошибки. Проверьте следующие поля:
      %ul
        - @delivery_details.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, 'Заглавие страницы:'
    = f.text_field :title, style: "width: 98%"

  .field
    = f.label :text, 'Текст страницы:'
    = f.cktext_area :text

  .actions
    = f.submit 'Сохранить изменения', class: 'btn btn-primary', style: "margin-top: 20px; width: 100%"

-#<%= link_to 'Вернуться назад', delivery_details_path %>
