.blog-index
  - @posts.each do |article|
    %article
      %header
        %h1= link_to article.title, post_path(article)
        %p.meta
          %time{"data-updated" => "true", pubdate: '', datetime: "#{article.updated_at}"}
            = Russian::strftime(article.updated_at, "%d %B %Y")

      .entry-content
        = truncate(article.content.html_safe, length: 250, omission: "... (#{ link_to 'продолжить', article})").html_safe
      - if blog_admin?
        %p.admin-edit
          = link_to 'Редактировать', edit_post_path(article)
          |
          = link_to 'Удалить', article, method: :delete, data: {confirm: 'Вы действительно хотите удалить данную статью?'}
  .pagination{align: 'center'}
    = will_paginate @posts, page_links: false, previous_label: '← Более Новые', next_label: 'Предыдущие →', class: 'next-prev-pagination'
    = link_to 'Архив Блога', '#', class: 'archive'
