<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="show_product">
  <%= link_to (image_tag @product.assets.last.image.url(:thumb), title: "Купить #{@product.title}", alt: "как принимать #{@product.title}, купить #{@product.title} украина"), @product.assets.last.image.url(:large), rel: "lightbox[photo]" %>
  <h3><%= @product.title %></h3>
  <div class="to_the_left">
    <div>Производитель: <%= @product.producer %> </div>
    <div>Модель: <%= @product.title %></div>
    <div>
      Наличие: <%= @product.available ? "Есть в наличии" : "Нет в наличии" %>
    </div>
  </div><!-- close #to_the_left -->
  <div class="to_the_right">
    <span class="price">Цена: <%= number_to_currency(@product.russian_price, unit: "RUB", format: "%n %u") %></span>
    <br/>
    <%= button_to 'Добавить в Корзину', cart_products_path(product_id: @product), class: "btn btn-primary" %>
  </div>
  <div class="img_list">
    <ul>
      <% (@assets.count-1).times do |asset_id| %>
        <li><%= link_to (image_tag @assets[asset_id].image, title: "Купить #{@product.title}", alt: "как принимать #{@product.title}, купить #{@product.title} украина"), @assets[asset_id].image.url(:large), rel: "lightbox[photo]" %></li>
      <% end %>
    </ul>
  </div>
  <div class="description">
    <p><%= @product.description.html_safe %></p>
  </div>
</div>

<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "lightbox.js" %>
