<!DOCTYPE html>
<html>
<head>
  <title>Originalpeptides.com(Только качественная продукция)</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= favicon_link_tag %>
  <script type="text/javascript">
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
  </script>
  <%= javascript_include_tag "js_for_admin.js" %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
  <div class="admin_layout">
  <div id="main">
    
    <% unless session[:user_id].nil? %>
    <div id="menubar">
      <ul>
        <li><%= link_to 'Продукция', products_path %></li>
        <li><%= link_to 'Заказы', orders_path %></li>
        <li><%= link_to 'Другие параметры', else_path %></li>
        <li><%= link_to 'Блог', posts_path %></li>
        <li><%= link_to 'Выйти', {controller: 'sessions', action: 'destroy'}, confirm: 'Вы уверены что хотите выйти?', method: :delete %></li>
      </ul>
    </div><!--close cart_button-->
    <% end %>

    <div id="site_content">        
     
      <div id="content">
        <div class="content_item">
          <p><%= yield %></p>
        </div><!--close content_item--> 
        <br style="clear:both;" />
      </div><!--close content-->
    </div><!--close site_content--> 

  <%= render 'layouts/footer' %>
  
  </div><!--close main--> 
  </div><!-- close admin_layout -->
</body>
</html>
