<!DOCTYPE html>
<%- page_identifier = "#{controller.controller_name}_#{controller.action_name}" %>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <meta name="description" content="<%= meta_description(page_identifier) %>">
  <meta name="keywords" content="<%= meta_keywords(page_identifier) %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag %>

  <!-- Cкрипт запрещает использовать правую кнопку на странице, и выделять текст -->
  <%- if Rails.env == 'production' %>
    <script language="JavaScript">
      document.onselectstart=function(){ return false }
      document.oncontextmenu=function(){ return false }
      document.onmousedown=function(){ return false }
    </script>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body  class='<%= controller.controller_name %>'>

    <%= render 'layouts/header' %>

    <div id="site_content">
      <div id="slider_image">
        <ul class="round">
          <li><%= image_tag 'slide5.jpg', title: "магазин пептидов", alt: "купить пептиды" %></li>
          <li><%= image_tag 'slide6.jpg', title: "пептиды", alt: "купить пептиды украина" %></li>
          <li><%= image_tag 'slide7.jpg', title: "стимуляторы гормона роста", alt: "магазин пептидов" %></li>
        </ul>

      </div><!-- End of slider_image -->

      <div id="content">
        <div class="content_item">
          <p><%= yield %></p>
        </div><!--close content_item--> 
        <br style="clear:both;" />
      </div><!--close content-->
      <div class="vk_widget">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?64"></script>
          <!-- VK Widget --> 
          <div id="vk_groups"></div>
          <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 1, wide: 1, width: "300", height: "150"}, 48829478);
        </script>
      </div>
    </div><!--close site_content--> 

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "jquery_all.js" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.roundabout.js" %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.round').roundabout({
                autoplay: true,
                autoplayDuration: 5000,
                autoplayPauseOnHover: true
            });
        });
    </script>

</body>
</html>
